<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:name=".CloudinaryInit"
        android:label="CivicTrack"
        android:theme="@style/Theme.CivicTrackApplication" >
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGYm0dEUM9LiAeQI_tNNoGG_KudZ3OXXw" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />

        <activity android:name=".HomeActivity" />

        <!-- Core Features -->
        <activity android:name=".ViewIssuesActivity" />
        <activity android:name=".ReportIssueActivity" />
        <activity android:name=".MyAccountActivity" />

        <!-- Additional Screens -->
        <activity android:name=".MyComplaintsActivity" />
        <activity android:name=".MyReportsActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".HelpSupportActivity" />
        <activity android:name=".ProfileActivity" />
    </application>

</manifest>