<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".CloudinaryInit"
        android:label="CivicTrack"
        android:theme="@style/Theme.CivicTrack" >
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.civic_trackapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".IssueDetailActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="ab992de730789fbf5f3997fa8553ed86" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGYm0dEUM9LiAeQI_tNNoGG_KudZ3OXXw" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.CivicTrack.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CivicTrack.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.CivicTrack.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.CivicTrack.NoActionBar" />
        <activity android:name=".HomeActivity" /> <!-- Core Features -->
        <activity android:name=".ViewIssuesActivity" />
        <activity android:name=".ReportIssueActivity" />
        <activity android:name=".MyAccountActivity" />
        <activity android:name=".MyReportsActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".ProfileActivity" />
    </application>

</manifest>